body {
  background-color: rgb(250,250,250);
}
h1 {
  font-size: 500%; 
  color: rgb(0,0,190);
}
.circle-container {
  width: 150px;       /* Set a fixed width */
  height: 150px;      /* Set an equal fixed height to ensure a circle */
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden;   /* Hides the parts of the image outside the circle */
  border: 3px solid #333;
  display: flex;
  justify-contnet: center;
  align-items: center;
}

.circle-container img {
  width: 100%;        /* Makes the image fit the container's width */
  height: 100%;       /* Makes the image fit the container's height */
  object-fit: cover;  /* Crops the image to cover the area while maintaining aspect ratio */
  object-position: center; /* Centers the visible part of the image */
}
